/vendor/
/node_modules/

.env
.env.local

client_secret*.json
client_secret_*.json
*.pem
*.p12

storage/firebase.json
storage/logs/*
storage/uploads/*
!storage/logs/.gitkeep
!storage/uploads/.gitkeep

.idea/
.vscode/

*.log
composer.lock
.DS_Store

.phpunit.result.cache
*.zip