/vendor/
/node_modules/
.env
.env.local
storage/logs/*
storage/uploads/*
!storage/logs/.gitkeep
!storage/uploads/.gitkeep
.idea/
.vscode/
*.log
composer.lock
.DS_Store
public/storage/uploads/**
public/uploads/**
.phpunit.result.cache
*.sql
*.zip

