/vendor/
/node_modules/
.env.local
client_secret*.json
*.pem
*.p12
storage/firebase.json
storage/logs/*
storage/uploads/*
!storage/logs/.gitkeep
!storage/uploads/.gitkeep
.idea/
.vscode/
*.log
composer.lock
.DS_Store
public/storage/uploads/**
public/uploads/**
.phpunit.result.cache
*.zip
.env
client_secret_*.json
storage/firebase.json


